{% extends 'app/base1.html' %}
{% load static %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Profile</h1>

    </div>
    <hr>


    <div class="container-fluid">
        {% if key1 %}
        <form action="" method="post" enctype="multipart/form-data">


            <div class=" box_general padding_bottom">

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" value="{{key1.Firstname}}" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Last name</label>
                            <input type="text" class="form-control" value="{{key1.Lastname}}" readonly>
                        </div>
                    </div>
                </div>
                <!-- /row-->
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" value="{{key1.m_id.Email}}" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Role</label>
                            <input type="text" class="form-control" value="{{key1.m_id.Role}}" readonly>
                        </div>
                    </div>
                </div>
                <!-- /row-->

            </div>
            <!-- /box_general-->



            <p style="text-align: center;"><a class="btn_1 medium" href="{% url 'indexpage' %}"><i
                        class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back to Dashboard</a>
            </p>

        </form>
        {% endif %}

    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock %}